@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $color,
  $border,
  $hover-background: lighten($background, 7.5%),
  $hover-color: $color,
  $hover-border: lighten($border, 10%)
) {
  background: $background;
  color: $color;
  border-color: $border;
  &:hover {
    background: $hover-background;
    color: $hover-color;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    background: $hover-background;
    color: $hover-color;
    border-color: $hover-border;
  }
  &:disabled,
  &.focus {
    background: $background;
    color: $color;
    border-color: $border;
  }
}
